<html>
  <head>
    <title>Stats</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <p><strong>You read</strong> {{ wordCount }} words this year!</p>
    <br>
    <p>Your top tags</p>
    <ul>
        {% for item in tags %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>
    <br>
    <p>Your favorite fic was {{visitedWork.title}} by {% for author in visitedWork.authors %}
        {{ author.username }} {% if not loop.last %} and 
    {% endfor %}</p>
    <p>You visited it {{mostVisited }} times!</p>
    <br>
    <p>Fandom breakdown:</p>
    <img src={{ url}} alt="Chart" height="300" width="300">
  </body>
  <footer>
    <p><a href="{{ url_for('home', ao3user=session['username']) }}">Home</a></p>
  </footer>
</html>
